@import "variables";
@import "normalize";
@import "containers";
@import "Glyphter";
@import "./sections/top-menu";
@import "./sections/side-menu";
@import "./sections/general";
@import "./sections/links";
@import "./sections/details";
@import "./sections/banners";
@import "./sections/personal-data";
@import "./sections/payout";
@import "./sections/postback";

* {
    box-sizing: border-box;
}

body {
    background-color: #e3e3e3;
}

section.container:not(.show) {
    display: none;
}

.modal:not(.show) {
    display: none;
}