.payout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-top: 25px;

    h2 {
        margin: 0;
        padding: 10px;
        color: #a6a6a6;
        font-family: $main-font;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 2px solid #e3e3e3;
    }

    .date {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        border-bottom: 2px solid #e3e3e3;

        .numbers {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            border-radius: 3px;
            border: 1px solid #e3e3e3;

            p {
                color: #333333;
                font-family: $main-font;
                font-size: 14px;
                font-weight: 300;
                padding: 0 20px;
            }

            .end-date {
                @extend p;
                padding: 0 10px;

                .icon-calendar {
                    padding-left: 30px;
                }
            }
        }

        .refresh-btn {
            margin-left: 10px;
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 3px;
            background-color: $buttons-bgc;
            align-self: center;
            color: #ffffff;
            cursor: pointer;
            transition: 0.2s ease;

            &:hover {
                background-color: #ffa200;
            }

            span {
                font-size: 12px;
            }
        }
    }

    tbody {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;

        .payout-info {
            border: none;
            cursor: default;

            th:nth-of-type(1) {
                padding: 10px;

                &:hover {
                    cursor: pointer;
                    background: rgba(177, 191, 191, 0.18);
                    color: black;
                }
            }

            &:hover {
                background: none;
            }

            th {
                color: #a6a6a6;
                font-family: $main-font;
                font-size: 16px;
                font-weight: 500;
                width: 280px;

                .icon-arrow-up-small {
                    font-size: 12px;
                }
            }
        }

        tr {
            border-bottom: 2px solid #e3e3e3;
            padding: 15px;
            cursor: pointer;

            &:hover {
                background-color: rgba(177, 191, 191, 0.18);
            }
        }

        tr:nth-of-type(2) {
            border-top: 2px solid #e3e3e3;
        }

        td {
            width: 280px;
        }
    }





    .next-page {
        display: flex;
        justify-content: center;
        margin: 30px 0;

        a {
            text-decoration: none;
            color: #56819f;
            font-family: $main-font;
            padding: 10px 15px;
            font-weight: 300;

            &:hover {
                background-color: rgba(177, 191, 191, 0.18);
                color: #a6a6a6;
                font-weight: 500;
            }
        }

        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: #a6a6a6;
        }
    }
}


@media(max-width: 767px) {
    .payout {
        .next-page {
            a {
                padding: 5px 10px;
            }
        }
    }
}