.personal-data {
    background-color: #ffffff;

    .data-wrapper {
        display: flex;
        flex-direction: column;
    }

    h2 {
        color: #a6a6a6;
        font-family: $main-font;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 2px solid #e3e3e3;
        padding: 10px;
    }

    .data {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #e3e3e3;
        margin: 5px 0;

        form {

            label {
                color: #a6a6a6;
                font-family: $main-font;
                font-weight: 400;
                width: 150px;
                text-align: left;
            }

            .field {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 25px 0;
                align-items: center;
            }

            input {
                border: 1px solid #e3e3e3;
                width: 250px;
                padding: 5px 5px;
            }
        }
    }

    button {
        align-self: center;
        color: #ffffff;
        border: none;
        font-family: $main-font;
        font-size: 18px;
        font-weight: 300;
        padding: 10px 20px;
        border-radius: 3px;
        background-color: $buttons-bgc;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.2s linear;

        &:hover {
            background-color: #ffa200;
        }
    }
}

@media(max-width: 767px) {
    .personal-data {
        .data {
            justify-content: center;

            form {

                label {
                    text-align: center;
                }

                .field {
                    justify-content: center;
                }
            }
        }
    }
}